body{
    margin: 0;
    font-family: tahoma;
}

.secao{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.paragrafo{
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
    margin: 10px auto;
    width: 980px;
}


.topo{
    background-color: #afddfb;
    text-align: center;
    padding: 15px;
  
    
}

.topo img{
    width: 150px;
}

.paragrafo-topo{
   margin-top: 15px;
   margin-bottom: 55px;
}

.link-topo{
    color: #1d1d1d;
    font-size: 18px;
    text-decoration: none; 
    border-bottom: 2px solid #1d1d1d ;
    margin: 0 10px;
}

.banner {
    padding-top: 0;
    margin-top: 50px;
}

span {
    font-weight: bold;
}

h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}


h2 {
    font-weight: normal;
    color: #1c81c0;
    margin-top: 0;
}

.imagem{
   width: 450px;
}

.texto-azul {
    color: #1d80c1;
}

h3 {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

.secao-servicos{
    background-color: #1c81c0;
}

.servicos, .contato {
    background-color: #1d80c1;
}

.paragrafo-servicos{
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    line-height: 42px;
    width: 700px
}

.texto-amarelo{
    color: yellow;
}

.lista-servicos {
    width: 135px;
    margin: 40px auto 40px;
}

.item-lista-servicos{
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-align: left;
    line-height: 42px;
}

.corretores{
    background-color:white ;
}

.lista-contato {
    width: 210px;
    list-style: none;
    margin: 40px auto 40px;
}

.item-lista-contato {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

.link-contato {
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}

.paragrafo-contato{
    color: #fff;
    background-color:#1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}